{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Innov8 Assignment</title>
      		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet", href="{% static 'custom_css/signup.css' %}">
      		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
      	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
  </head>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a href="#" class="navbar-brand navbar-left"><img style="height: 100%" src="https://innov8.work/static/images/icons/icon-innov8-white.svg"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}"><span><i class="fa fa-sign-out" aria-hidden="true"></i></span> SignOut</a></li>
        {% else %}
      <li><a href="{% url 'login' %}"><span><i class="fa fa-sign-in" aria-hidden="true"></i></span> SignIn</a></li>
      <li><a href="{% url 'register' %}"><span><i class="fa fa-registered" aria-hidden="true"></i></span> SignUp</a></li>
        {% endif %}
    </ul>
  </div>
</nav>
  <body>
  <main>
      {% block content %}
      {% endblock %}
  </main>
  </body>

</html>
