{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  {% crispy form %}

<div class = 'col-sm-4 col-sm-offset-4'>
    <br>
  <a href="#" data-target="#pwdModal" data-toggle="modal" style="color: orangered">Forgot my password</a>
</div>
<div class = 'col-sm-4 col-sm-offset-4'>
    <br>
    <p style="color: blue;">New to MySite?<a href="{% url 'register' %}" style="color: blue">Register Here..</a></p>
</div>

<div id="pwdModal"  class="modal fade" tabindex="-1">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">Reset Your Password</h1>
      </div>
      <div class="modal-body">
          <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">

                          <p>Please Provide Your Email....</p>

                            <div class="panel-body">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control input-lg" placeholder="E-mail Address" name="email" type="email">
                                    </div>
                                    <input class="btn btn-lg btn-primary btn-block" value="Send My Password" type="submit">
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		  </div>
      </div>
  </div>
  </div>
</div>
</div>

{% endblock %}
